*{
    font-family: Arial, Helvetica, sans-serif;
}
.heading{
    text-align: center;
    padding-bottom: 20px;
    font-size: 20pt;
    
  }

  .gridkontejner{
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
}
.kontejner{
    margin: 20px;
    font-size: 32pt;
}
.tekst{
    width: 500px;
}
a{
    font-weight: 600;
    text-decoration: none;
    color: black;
}
.centr{
    text-align: center;
    font-size: larger;
}
.t{
    font-weight: 500;
}